<?xml version="1.0" encoding="utf-8"?>
<!--
  Per ulteriori informazioni sulla configurazione dell'applicazione ASP.NET, visitare
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <configSections>
    <section name="CiccioGest" type="CiccioGest.Infrastructure.Conf.ConfigurationSection, Infrastructure" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <CiccioGest>
    <Confs default="mysql">
      <Conf name="mysql" data_access="NHibernate" database="MySql" cs="server=localhost;User Id=dddtest;password=dddtest;database=ciccio1" />
      <Conf name="ssee1" data_access="NHibernate" database="SSEE" cs="Data Source=FRANCESCO-PC\SQLEXPRESS;Initial Catalog=test;Integrated Security=True" />
      <Conf name="ssee2" data_access="NHibernate" database="SSEE" cs="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\DddTest.mdf;Integrated Security=True" />
      <Conf name="ssce" data_access="NHibernate" database="SSCE" cs="Data Source=DddTest.sdf" />
      <Conf name="db4o" data_access="Db4o" database="MySql" cs="DddTest.db4o" />
    </Confs>
  </CiccioGest>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target xsi:type="NLogViewer" name="suca" onOverflow="Split" address="udp://127.0.0.1:8765" includeSourceInfo="true" includeCallSite="true" includeNdc="true" includeNLogData="true" includeMdc="true" />
      <target xsi:type="Debugger" name="vsd" />
      <target xsi:type="File" name="file" fileName="log.txt" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="suca" />
    </rules>
  </nlog>
  
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

</configuration>
