<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="NLogViewer"
            name="remote"
            onOverflow="Split"
            address="udp://127.0.0.1:9999"
            includeSourceInfo="true"
            includeCallSite ="true"
            includeNdc="true"
            includeNLogData="true"
            includeMdc="true" />
    <target xsi:type="Debugger" name="vsd" />
    <target xsi:type="File" name="file" fileName="log.txt" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="remote" />
  </rules>
</nlog>
