<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="DddTest" type="Ciccio1.Infrastructure.Conf.DddTestConfigurationSection, Infrastructure" />
    <!--<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />-->
  </configSections>

  <DddTest>
    <Confs default="mysql">
      <Conf name="mysql" user_interface="WPF" data_access="NHibernate">
        <data_access_config database="MySql" cs="server=localhost;User Id=dddtest;password=dddtest;database=ciccio1" />
      </Conf>
      <Conf name="ssee1" user_interface="WPF" data_access="NHibernate">
        <data_access_config database="SSEE" cs="Data Source=FRANCESCO-PC\SQLEXPRESS;Initial Catalog=test;Integrated Security=True" />
      </Conf>
      <Conf name="ssee2" user_interface="WPF" data_access="NHibernate">
        <data_access_config database="SSEE" cs="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\DddTest.mdf;Integrated Security=True" />
      </Conf>
      <Conf name="ssce" user_interface="WPF" data_access="NHibernate">
        <data_access_config database="SSCE" cs="Data Source=DddTest.sdf" />
      </Conf>
      <Conf name="sqlite" user_interface="WPF" data_access="NHibernate">
        <data_access_config database="SQLite" cs="Data Source=DddTest.db" />
      </Conf>
      <Conf name="db4o" user_interface="WPF" data_access="Db4o">
        <data_access_config database="MySql" cs="DddTest.db4o" />
      </Conf>
      <Conf name="wcf" user_interface="WPF" data_access="WCF">
        <data_access_config database="MySql" cs="http://localhost:8000" />
      </Conf>
      <Conf name="rest1" user_interface="WPF" data_access="REST">
        <data_access_config database="MySql" cs="http://localhost:8732/RestService/rest" />
      </Conf>
      <Conf name="rest2" user_interface="WPF" data_access="REST">
        <data_access_config database="MySql" cs="http://ipv4.fiddler:31292" />
      </Conf>
    </Confs>
  </DddTest>

  <!--<log4net>
    <appender name="AppVsDebug" type="log4net.Appender.DebugAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-4timestamp [%thread] %-5level- %message%newline" />
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <LoggerToMatch value="NHibernate" />
        <AcceptOnMatch value="False" />
      </filter>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="AppVsDebug" />
    </root>
  </log4net>-->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>