<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="NLogViewer"
            name="suca"
            includeSourceInfo="true"
            onOverflow="Split"
            address="udp://127.0.0.1:8765" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="suca" />
  </rules>
</nlog>
